@using Microsoft.Extensions.Options
@inject IOptions<SilverGym.Web.Data.StripeSettings> Stripe

<div>
    <form asp-action="Charge" asp-controller="Payment" asp-area="" method="post">
        <article>
            <label>Amount: 5$</label>
        </article>
        <script src="//checkout.stripe.com/v2/checkout.js"
                class="stripe-button"
                data-key="@Stripe.Value.PublishableKey"
                data-locale="auto"
                data-description="Sample Charge">
        </script>
    </form>
</div>