@using SilverGym.Web.ViewModels.Trainer

@model ICollection<TrainerViewModel> 

<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm bg-img" role="banner" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Фитнес Инструктори</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	
    <div id="fh5co-trainer">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Фитнес инструктури</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row row-bottom-padded-md">
                <div class="col-md-12">
                    @foreach (TrainerViewModel trainer in Model)
                    {
                        <div class="col-md-4 col-sm-4 animate-box">
                            <div class="trainer">
                                <a asp-action="Trainer" asp-controller="Gym" asp-route-id="@trainer.TrainerId"><img class="img-responsive trainer-image" src="~/trainerImages/@trainer.ProfilePictureUrl" alt="trainer"></a>
                                <div class="title">
                                    <h3><a asp-action="Trainer" asp-controller="Gym" asp-route-id="@trainer.TrainerId">@trainer.Name</a></h3>
                                    <span>Фитнес треньор</span>
                                </div>
                                <div class="desc text-center">
                                    <ul class="fh5co-social-icons">
                                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                                        <li><a href="#"><i class="icon-dribbble"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	</body>

