@using SilverGym.Web.ViewModels.WorkoutPlan;

@model WorkoutPlanInputModel

<div class="row">
    <div class="col-md-12">
        <h1 style="text-align: center; color: lightgray">Add client</h1>
        <form class="mx-auto half-width col-5" enctype="multipart/form-data" method="post" asp-controller="Trainer" asp-action="AddWorkoutPlan">
            <div class="top-border-line primary-separator"></div>

            <div class="form-group clearfix" id="DaysContainer">
                <label asp-for="WorkoutDays" class="suls-text-color">Workout Day</label>
                <a class="btn btn-success" onclick="AddMoreWorkDays()">+</a>
            </div>

            <input asp-for="ClientId" class="form-control hidden" value="@ViewData["ClientId"]">
            <span asp-validation-for="ClientId" class="hidden text-danger"></span>

            @await Html.PartialAsync("_ModelErrors")

            <div class="top-border-line primary-separator"></div>

            <button type="submit" class="btn forum-add-bg-color">Добави хранителен режим</button>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        var dayIndex = 0;
        function AddMoreWorkDays() {
            $("#DaysContainer")
                .append("<div class='form-control'>Day: <input type='text' name='WorkoutDays[" + dayIndex + "].WorkDay' /> </div>");
            dayIndex++;
        }
    </script>
}