@using SilverGym.Web.ViewModels.Trainer

@model ICollection<RemoveClientFromTrainerInputModel>

@foreach (RemoveClientFromTrainerInputModel client in Model)
{
    <div>
        <p>@client.ClientEmail</p>
        @await Html.PartialAsync("_RemoveClient", client) 
        <a asp-area="Trainer" asp-controller="Trainer" asp-action="AddEatingPlan" asp-route-id="@client.ClientId">Добави хранителен режим</a>
        <a asp-area="Trainer" asp-controller="Trainer" asp-action="AddWorkoutPlan" asp-route-id="@client.ClientId">Добави тренировачна програма</a>
    </div>
}


