<div>
    <a asp-area="Trainer" asp-controller="Trainer" asp-action="AddClient">Add Client</a>
</div>
<div>
    <a asp-area="Trainer" asp-controller="Trainer" asp-action="Clients">My Clients</a>
</div>
