<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Stamina &mdash; Free Website Template, Free HTML5 Template by freehtml5.co</title>

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm bg-img" role="banner" style="background-image: url('https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/48427915_2458381967565010_6004506348736217088_o.jpg?_nc_cat=106&ccb=2&_nc_sid=e3f864&_nc_ohc=3JDONDBdDvMAX-92uah&_nc_ht=scontent-sof1-1.xx&oh=d731e309be0bd4f741f65c78d19a94c2&oe=60032921')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Свържете се с нас</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-md-push-1 animate-box">
					
                    <div class="fh5co-contact-info">
                        <h3>Информация за контакт</h3>
                        <ul>
                            <li class="address">Адрес : бул. „3-ти март“ 41, <br> 3400 Монтана Център, Монтана<i class="fas fa-map-marked-alt"></i></li>
                            <li class="phone"><a href="tel://+359 89 482 9003">+359 89 482 9003</a></li>
                            <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                            <li class="icon-facebook" style="font-size : 20px"><a href="https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/48427915_2458381967565010_6004506348736217088_o.jpg?_nc_cat=106&ccb=2&_nc_sid=e3f864&_nc_ohc=3JDONDBdDvMAX-92uah&_nc_ht=scontent-sof1-1.xx&oh=d731e309be0bd4f741f65c78d19a94c2&oe=60032921">Silver Gym</a></li>
                        </ul>
                        <h3 style="margin-left: 50px">Работно време</h3>
                        <ul>
                            <li class="time" style="font-size: 18px">От Понеделник до Петък<br><h4>9:00 - 21:00ч</h4></li>
                            <li class="time" style="font-size : 18px">Събота<br><h4>10:00 - 21:00ч</h4></li>
                            <li class="time"style="font-size : 18px" >Неделя<br><h4>11:00 - 20:00ч</h4></li>
                        </ul>
                    </div>

				</div>
				<div class="col-md-6 animate-box">
					<h3>Свържи се с нас</h3>
					<form action="#">
						<div class="row form-group">
							<div class="col-md-6">
								<!-- <label for="fname">First Name</label> -->
								<input type="text" id="fname" class="form-control" placeholder="Име">
							</div>
							<div class="col-md-6">
								<!-- <label for="lname">Last Name</label> -->
								<input type="text" id="lname" class="form-control" placeholder="Фамилия">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input type="text" id="email" class="form-control" placeholder="Емайл адрес">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								<input type="text" id="subject" class="form-control" placeholder="Тема на допитването">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Вашето съобщение"></textarea>
							</div>
						</div>
						<div class="form-group" style="margin-left : 15px">
							<input type="submit" value="Изпрати	" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	</body>
</html>

