	<body>
		
	<div class="fh5co-loader"></div>
	
    <div id="page">

        <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image: url('https://scontent-sof1-1.xx.fbcdn.net/v/t1.0-9/42538030_2286174898119052_5754989630969610240_o.jpg?_nc_cat=100&ccb=3&_nc_sid=e3f864&_nc_ohc=NqFamOgHH0MAX_SELcY&_nc_ht=scontent-sof1-1.xx&oh=b3dda6d39534ffb15578e45d3fad729e&oe=604F9F16')" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="display-t">
                            <div class="display-tc animate-box" data-animate-effect="fadeIn">
                                <h1 style="font-size : 25px">Silver Gym, правилното място за твоята физическа подготовка</h1>
                                <p><a href="/Gym/Gallery" class="btn btn-primary popup-vimeo">Разгледай нашата зала</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div id="fh5co-services" class="fh5co-bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 text-center animate-box">
                        <div class="services">
                            <span><img class="img-responsive" src="images/dumbbell.svg" alt=""></span>
                            <h3>Weight Lifting</h3>
                            <p>Weight training is a common type of strength training for developing the strength and size of skeletal muscles.</p>
                            <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <div class="services">
                            <span><img class="img-responsive" src="images/exercise.svg" alt=""></span>
                            <h3>Running</h3>
                            <p>As simple as running may be, it certainly isn’t easy. Especially when you’re a beginner. ‘You have to start where you are, not where you think you should be’.</p>
                            <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                        </div>
                    </div>
                    <div class="col-md-4 text-center animate-box">
                        <div class="services">
                            <span><img class="img-responsive" src="images/yoga-carpet.svg" alt=""></span>
                            <h3>Yoga</h3>
                            <p>Yoga is a group of physical, mental, and spiritual practices or disciplines which originated in ancient India. Yoga is one of the six Āstika schools of Indian philosophical traditions.</p>
                            <p><a href="#" class="btn btn-primary btn-outline btn-sm">More <i class="icon-arrow-right"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />
        <div id="fh5co-pricing">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Изберете План</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="pricing">
                        <div class="col-md-3 animate-box">
                            <div class="price-box">
                                <h2 class="pricing-plan">Малък</h2>
                                <div class="price" style="margin-left : 50px">9<sup class="currency"> лв</sup><small style="margin-right : 50px">/месечно</small></div>
                                <ul class="classes">
                                    <li>3 Индивидуални тренировки</li>
                                    <li class="color">7 минути в солариум</li>
                                </ul>
                                <a href="#" class="btn btn-select-plan btn-sm">Добави в количката</a>
                            </div>
                        </div>

                        <div class="col-md-3 animate-box">
                            <div class="price-box">
                                <h2 class="pricing-plan">Базов</h2>
                                <div class="price" style="margin-left : 50px">9<sup class="currency"> лв</sup><small style="margin-right : 50px">/месечно</small></div>
                                <ul class="classes">
                                    <li>7 Индивидуални тренировки</li>
                                    <li class="color">5 минути в солариум</li>
                                    <li>30 минути Сауна</li>
                                </ul>
                                <a href="#" class="btn btn-select-plan btn-sm">Добави в количка</a>
                            </div>
                        </div>

                        <div class="col-md-3 animate-box">
                            <div class="price-box popular">
                                <h2 class="pricing-plan pricing-plan-offer">Pro <span>  </span></h2>
                                <div class="price" style="margin-left : 50px">9<sup class="currency"> лв</sup><small style="margin-right : 50px">/месечно</small></div>
                                <ul class="classes">
                                    <li>15 Cardio Classes</li>
                                    <li class="color">10 Swimming Lesson</li>
                                    <li>10 Yoga Classes</li>
                                    <li class="color">20 Aerobics</li>
                                    <li>10 Zumba Classes</li>
                                    <li class="color">5 Massage</li>
                                    <li>10 Body Building</li>
                                </ul>
                                <a href="#" class="btn btn-select-plan btn-sm">Добави в количката</a>
                            </div>
                        </div>

                        <div class="col-md-3 animate-box">
                            <div class="price-box">
                                <h2 class="pricing-plan">Unlimited</h2>
                                <div class="price" style="margin-left : 50px">9<sup class="currency"> лв</sup><small style="margin-right : 50px">/месечно</small></div>
                                <ul class="classes">
                                    <li>15 Cardio Classes</li>
                                    <li class="color">10 Swimming Lesson</li>
                                    <li>10 Yoga Classes</li>
                                    <li class="color">20 Aerobics</li>
                                    <li>10 Zumba Classes</li>
                                    <li class="color">5 Massage</li>
                                    <li>10 Body Building</li>
                                </ul>
                                <a href="#" class="btn btn-select-plan btn-sm">Добави в количката</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-gallery">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                        <h2>Галерия</h2>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row row-bottom-padded-md">
                    <div class="col-md-12">
                        <ul id="fh5co-portfolio-list">

                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-1.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Illustration</span>
                                        <h2>Useful baskets</h2>
                                    </div>
                                </a>
                            </li>
                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-2.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Web Design</span>
                                        <h2>Skater man in the road</h2>
                                    </div>
                                </a>
                            </li>

                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-3.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Web Design</span>
                                        <h2>Two Glas of Juice</h2>
                                    </div>
                                </a>
                            </li>

                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-4.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Web Design</span>
                                        <h2>Timer starts now!</h2>
                                    </div>
                                </a>
                            </li>
                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-3.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Web Design</span>
                                        <h2>Two Glas of Juice</h2>
                                    </div>
                                </a>
                            </li>
                            <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-5.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Illustration</span>
                                        <h2>Beautiful sunset</h2>
                                    </div>
                                </a>
                            </li>
                            <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/gallery-3.jpg); ">
                                <a href="#">
                                    <div class="case-studies-summary">
                                        <span>Web Design</span>
                                        <h2>Two Glas of Juice</h2>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="fh5co-testimonial" class="fh5co-bg-section">
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Доволни клиенти</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="row animate-box">
                            <div class="owl-carousel owl-carousel-fullwidth">
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img src="images/person3.jpg" alt="user">
                                        </figure>
                                        <span>Jean Doe, via <a href="#" class="facebook">Facebook</a></span>
                                        <blockquote>
                                            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img src="images/person3.jpg" alt="user">
                                        </figure>
                                        <span>John Doe, via <a href="#" class="facebook">Facebook</a></span>
                                        <blockquote>
                                            <p>&ldquo;Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img src="images/person3.jpg" alt="user">
                                        </figure>
                                        <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                        <blockquote>
                                            <p>&ldquo;Far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        <div id="fh5co-started" class="fh5co-bg" style="background-image: url(images/img_bg_3.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h2>Fitness Classes this Summer <br> <span> Pay Now and <br> Get <span class="percent">35%</span> Discount</span></h2>
                    </div>
                </div>
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <p><a href="#" class="btn btn-default btn-lg">Become a Member</a></p>
                    </div>
                </div>
            </div>
        </div>

        <br />

       <!-- <div id="fh5co-blog" class="fh5co-bg-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                        <h2>Recent Blog</h2>
                        <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                    </div>
                </div>
                <div class="row row-bottom-padded-md">
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#"><img class="img-responsive" src="images/gallery-4.jpg" alt=""></a>
                            <div class="blog-text">
                                <h3><a href="" #>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                                <span class="posted_on">Sep. 15th</span>
                                <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#"><img class="img-responsive" src="images/gallery-2.jpg" alt=""></a>
                            <div class="blog-text">
                                <h3><a href="" #>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                                <span class="posted_on">Sep. 15th</span>
                                <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="fh5co-blog animate-box">
                            <a href="#"><img class="img-responsive" src="images/gallery-3.jpg" alt=""></a>
                            <div class="blog-text">
                                <h3><a href="" #>45 Minimal Worksspace Rooms for Web Savvys</a></h3>
                                <span class="posted_on">Sep. 15th</span>
                                <span class="comment"><a href="">21<i class="icon-speech-bubble"></i></a></span>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <a href="#" class="btn btn-primary">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

    </div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
        <br />

	</body>

