<a asp-controller="Administration" asp-action="AddTrainer" class="btn btn-select-plan btn-sm">Добави треньор</a>
<a asp-controller="Administration" asp-action="RemoveTrainer" class="btn btn-select-plan btn-sm">Премахни треньор</a>
<a asp-controller="Administration" asp-action="AddProduct" class="btn btn-select-plan btn-sm">Добави продукт</a>